n8n/Analyze Stock Charts with GPT-4 Vision and Send Results via Telegram.json
{
  "name": "Analyze Stock Charts with GPT-4 Vision and Send Results via Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "id": "fb1046cf-d558-4874-a749-8f03b9f7ad3e",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        368,
        240
      ],
      "webhookId": "69c98bf3-aed0-4b73-ba6f-15879fb2378b",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "cYC2QnMXkpgdsfe6",
          "name": "Boybabybot_bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "How is this stock?",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "# Stock Chart Analysis Tips\n\n## Role Definition\nYour role is to analyze stock price charts.\n\n## Analysis Requirements\nFor each stock chart, please provide:\n- Stock name and current price trend (up/down/sideways)\n- Key price points or percentage changes\n- Brief trend analysis\n\n## Output Format (JSON)\n{\n\"search_word\": \"Core search terms related to the stock's industry or company's business\",\n\n\"content\": \"Stock name + trend analysis + key price information + technical analysis\"\n}\n\n## Notes\n- **search_word**: Match keywords related to the stock's industry, and can also include keywords from specific industries.\n- **content**: Trend analysis should be logical, as your decisions determine whether users can make money. It should include technical analysis and market sentiment information.\n- Price information should be accurate, including specific values ​​and percentage changes, and should indicate potential stop-loss or take-profit prices.\n- search_word should accurately reflect the stock's core business area or industry attributes."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        },
        "batching": {}
      },
      "id": "381f813f-1d16-4e31-a12f-0ad36155bc05",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        1232,
        80
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "operation": "resize",
        "dataPropertyName": "=data",
        "width": 512,
        "height": 512,
        "options": {}
      },
      "id": "453589be-36f3-4022-8306-ba54b2d6bbcf",
      "name": "Edit Image",
      "type": "n8n-nodes-base.editImage",
      "position": [
        880,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output.content }}",
        "additionalFields": {}
      },
      "id": "28b88eeb-da05-4a17-ac2c-4fdf846296fb",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1840,
        0
      ],
      "webhookId": "41cfac39-0bd2-474b-a1a2-83fc4115e257",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "cYC2QnMXkpgdsfe6",
          "name": "Boybabybot_bot"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "0f7f2636-d90e-4ea1-8f4f-ad528ef8db50",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1200,
        288
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "1ZRXiDzT0Bz6GVBj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"search_word\": \"Core search terms related to the stock's industry or company's business\",\n\"content\": \"Stock name + Trend analysis + Key price information + Technical analysis\"\n}"
      },
      "id": "c88d1439-c1fb-4411-9996-6cd5f22d980a",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1552,
        304
      ],
      "typeVersion": 1.2
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Image": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "7be8b378-d0ab-4a59-9042-11152fbe47f8",
  "meta": {
    "templateId": "4892",
    "instanceId": "391ccf06240767a70e415db25ca1487c5b245e4a473dd0cfcdd50bf42284853d"
  },
  "id": "MPb8fx2AydnNi8JM",
  "tags": []
}