n8n/teleGramFlow.json
{
  "name": "teleGramFlow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "ab8c57be-4623-4b9f-9e8c-4da6b81c146d",
      "name": "Telegram Trigger",
      "webhookId": "6d8f52a8-804f-4ad2-b72d-3346a390f6cb",
      "credentials": {
        "telegramApi": {
          "id": "cYC2QnMXkpgdsfe6",
          "name": "Boybabybot_bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Reply the user requested query {{ $json.message.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "You're a skilled personal assistant"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        208,
        0
      ],
      "id": "44fd3423-c654-4753-b291-849a63ab7c83",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        160
      ],
      "id": "bd659bb6-b6fe-4567-a57a-71bc7e676521",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1ZRXiDzT0Bz6GVBj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "f4b30788-d497-4714-9667-a653e88539de",
      "name": "Send a text message",
      "webhookId": "642a4d1d-85b0-4966-a803-62552e2b79dc",
      "credentials": {
        "telegramApi": {
          "id": "cYC2QnMXkpgdsfe6",
          "name": "Boybabybot_bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c6c782ad-e784-4357-8fdc-ae097131e404",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "391ccf06240767a70e415db25ca1487c5b245e4a473dd0cfcdd50bf42284853d"
  },
  "id": "MerK8o0me4UzoqmZ",
  "tags": []
}