n8n/titletopodcast.json
{
  "name": "titletopodcast",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        104
      ],
      "id": "f27dd0bc-09e3-4411-b8d0-75973891756c",
      "name": "Telegram Trigger",
      "webhookId": "9e9efbe0-c122-4ffb-bca1-f6fb368ef6fd",
      "credentials": {
        "telegramApi": {
          "id": "cYC2QnMXkpgdsfe6",
          "name": "Boybabybot_bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=write a 60 seconds script for below title\n\n {{ $json.message.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "you're an skilled content writer and able to generate ascript for 60 seconds |write a thrilling script for the user given title with twist and turnsI am planning to post this script in the social media, it'll boost my social presence, so add authority statement in the scriptstone - bold and story telling"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        224,
        0
      ],
      "id": "6ebbd449-8e84-4280-9dff-d3da4acfb220",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        296,
        224
      ],
      "id": "467fe9db-37d3-4bd5-9b3c-f1a16409e37b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1ZRXiDzT0Bz6GVBj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        432
      ],
      "id": "1fe1f9ec-91e5-46f3-a9a4-5c0146cca76d",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "1ZRXiDzT0Bz6GVBj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        432
      ],
      "id": "d6aab4df-b4e9-4d23-bc86-17804e750ae9",
      "name": "Send an audio file",
      "webhookId": "455ab90f-9d13-4b91-aa2b-e645a94134ad",
      "credentials": {
        "telegramApi": {
          "id": "cYC2QnMXkpgdsfe6",
          "name": "Boybabybot_bot"
        }
      }
    },
    {
      "parameters": {
        "folderId": "1LFhYBQaypqXCzvaRVBIZm54bHMHaBTGd",
        "title": "={{ $('Telegram Trigger').item.json.message.text }}1"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        576,
        104
      ],
      "id": "fd0f9ae9-bf62-41ce-91eb-26f3e477c3dd",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "o2AQpfzHaevTYvqw",
          "name": "B24_account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Basic LLM Chain').item.json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        800,
        104
      ],
      "id": "9cdf69e9-d9fc-4b89-a543-b649d80a92a7",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "o2AQpfzHaevTYvqw",
          "name": "B24_account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fe3a5cc8-8ce1-409b-ac5d-3afe32938dae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "391ccf06240767a70e415db25ca1487c5b245e4a473dd0cfcdd50bf42284853d"
  },
  "id": "DadyIheV4nNwYiWG",
  "tags": []
}