n8n/uiAutomation.json
{
  "name": "uiAutomation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "ececbb96-e108-4e3f-8bb1-f2fd3e2fae3d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9b992400-3762-488f-9161-fa29b32ac91c",
              "name": "=date_Time",
              "value": "={{new Date().toLocaleString(\"en-GB\",{timeZone:\"Asia/Kolkata\",hour12:false}).replace(/(\\d+)\\/(\\d+)\\/(\\d+), (\\d+):(\\d+):(\\d+)/,(_,d,m,y,h,mi,s)=>d.padStart(2,\"0\")+m.padStart(2,\"0\")+y+\":\"+h.padStart(2,\"0\")+mi.padStart(2,\"0\")+s.padStart(2,\"0\"))}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        0
      ],
      "id": "ee501f38-8752-4f11-b6f3-8f7f8ed9c312",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://c56fb041b9aa.ngrok-free.app/write",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        0
      ],
      "id": "1193777b-c972-4307-b25b-8978451f04e9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=convert the date and time in wordings {{ $json.date_Time }}\nbased on the input\n\nexample:\ninput : 01102025:191027\noutput: october first 2025 7 10 pm\n\n# strictly only one line output",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        384,
        0
      ],
      "id": "31993d72-ee4a-4d52-93b1-00b92b8b6960",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        208
      ],
      "id": "70b2e18d-1977-4d6b-8b96-3436ab2965cf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1ZRXiDzT0Bz6GVBj",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1d321c08-045a-466e-9def-b5c740125f87",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "391ccf06240767a70e415db25ca1487c5b245e4a473dd0cfcdd50bf42284853d"
  },
  "id": "AiI20VNkSJW5bacd",
  "tags": []
}