n8n/Voice & Text Control for Home Assistant using Telegram, Whisper & Gemini.json
{
  "name": "Voice & Text Control for Home Assistant using Telegram, Whisper & Gemini",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "7e0b01ef-5cf7-4e9f-9aed-8870278982de",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        768,
        816
      ],
      "webhookId": "ef275b2b-bfed-4650-99d2-d02b3510558d",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "cYC2QnMXkpgdsfe6",
          "name": "Boybabybot_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "827393b8-ce03-4c88-8844-ac02930ef543",
      "name": "Telegram Send",
      "type": "n8n-nodes-base.telegram",
      "position": [
        3488,
        960
      ],
      "webhookId": "2923625f-1ad1-43d3-9155-ad52a144c940",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "cYC2QnMXkpgdsfe6",
          "name": "Boybabybot_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "8e3b6656-fab8-49d5-9ed0-54bd8b6a8729",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $('Process messages').item.json.source }}",
              "rightValue": "telegram"
            }
          ]
        },
        "options": {
          "ignoreCase": false
        }
      },
      "id": "15b61fb1-26d0-40e1-8760-d1a458600d37",
      "name": "Reply Router",
      "type": "n8n-nodes-base.if",
      "position": [
        2928,
        1024
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "let text = $json.output;\n\n// 1. Zamień **coś** na <b>coś</b>\ntext = text.replace(/\\*\\*(.*?)\\*\\*/g, '<b>$1</b>');\n\n// 2. Zamień *   <b>Coś:</b> ... na bullet z boldem\ntext = text.replace(/^\\*\\s+<b>([^<]+):<\\/b>/gm, '• <b>$1:</b>');\n\n// 3. Zamień *   Coś: ... na bullet z boldem (gdy nie ma bolda)\ntext = text.replace(/^\\*\\s+([^:]+):/gm, '• <b>$1:</b>');\n\n// 4. Zamień `code` na <code>\ntext = text.replace(/`([^`]+)`/g, '<code>$1</code>');\n\n// 5. Zamień podwójne nowe linie na pojedyncze (żeby nie było za dużych przerw)\ntext = text.replace(/\\n{3,}/g, '\\n\\n');\n\n// 6. (Opcjonalnie) Zamień linki [tekst](url) na <a href=\"url\">tekst</a>\ntext = text.replace(/\\[([^\\]]+)\\]\\(([^)]+)\\)/g, '<a href=\"$2\">$1</a>');\n\n// 7. Chunking\nconst chunkSize = 4096;\nconst chunks = [];\nfor (let i = 0; i < text.length; i += chunkSize) {\n  chunks.push({ text: text.substring(i, i + chunkSize) });\n}\n\nreturn chunks;"
      },
      "id": "cef7c350-5225-434e-b81d-27d9ede69b8e",
      "name": "Telegram Message Beautifier",
      "type": "n8n-nodes-base.code",
      "position": [
        3248,
        960
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "id": "46595cbb-4be2-4561-90b5-d1d3b5602a25",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        3248,
        1136
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "chatInput",
              "stringValue": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b729b4fc-c986-4773-bef2-f49ab4a1b895",
      "name": "Transcription to ChatInput",
      "type": "n8n-nodes-base.set",
      "position": [
        1904,
        816
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "154315db-df92-449d-9930-94139e8012e9",
      "name": "Get Voice File",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1616,
        816
      ],
      "webhookId": "04226bd9-ad35-4792-993d-5ec2eecb519e",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "cYC2QnMXkpgdsfe6",
          "name": "Boybabybot_bot"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $json?.message?.text || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0748b3dd-b6fc-4a12-b433-a7d09c65cc7f",
      "name": "Voice or Text",
      "type": "n8n-nodes-base.set",
      "position": [
        1168,
        928
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "d99898a9-6619-422d-928c-d371812c1f5e",
      "name": "Speech to Text",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1760,
        816
      ],
      "typeVersion": 1.3,
      "credentials": {
        "openAiApi": {
          "id": "1ZRXiDzT0Bz6GVBj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a0bf9719-4272-46f6-ab3b-eda6f7b44fd8",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.text }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "acfc8962-6ae2-4ddb-9429-2bfc50e04eb2",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        1328,
        928
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "// Helper: bezpieczne czytanie z innych nodów\nfunction safe(getter, fallback = undefined) {\n  try {\n    const v = getter();\n    return v === undefined || v === null ? fallback : v;\n  } catch (e) {\n    return fallback;\n  }\n}\n\n// Spróbuj pobrać oba źródła, ale bez crasha:\nconst tgMsg   = safe(() => $('Telegram Trigger').item.json.message, null);\nconst chatEvt = safe(() => $('When chat message received').item.json, null);\n\n// Pick-first\nconst pick = (...arr) => arr.find(v => typeof v === 'string' && v.trim()) || '';\n\n// Tekst z różnych miejsc (STT -> chatInput, tekst, itd.)\nconst inputText = pick(\n  $json.inputText,\n  $json.chatInput,\n  $json.text,\n  $json.message?.text,\n  tgMsg?.text,\n  chatEvt?.message,\n  chatEvt?.input,\n  chatEvt?.text\n);\n\n// Źródło\nlet source = 'chat';\nif (tgMsg) source = 'telegram';\nelse if (chatEvt) source = 'n8n-chat';\n\n// SessionId\nlet sessionId = 'unknown';\nif (tgMsg) {\n  sessionId = String(tgMsg.chat?.id ?? tgMsg.from?.id ?? 'telegram-unknown');\n} else if (chatEvt) {\n  sessionId = String(\n    chatEvt.sessionId ?? chatEvt.chatId ?? chatEvt.connectionId ?? chatEvt.userId ?? 'n8n-chat-unknown'\n  );\n} else if ($json.chatId) {\n  sessionId = String($json.chatId);\n}\n\n// Voice flag (na przyszłość)\nconst isVoice = Boolean(safe(() => $('Telegram Trigger').item.json.message.voice.file_id, null));\n\nreturn [{\n  json: {\n    inputText: inputText.trim(),\n    source,\n    sessionId,\n    isVoice\n  }\n}];\n"
      },
      "id": "fafce53a-2570-4ae9-b92c-029485cf3890",
      "name": "Process messages",
      "type": "n8n-nodes-base.code",
      "position": [
        2176,
        1024
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "id": "55de43ac-f154-4025-9f31-78b8466a497f",
      "name": "Bot Is typing",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1168,
        736
      ],
      "webhookId": "6b14a2b6-91ff-45a5-af70-bd9696961512",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "cYC2QnMXkpgdsfe6",
          "name": "Boybabybot_bot"
        }
      }
    },
    {
      "parameters": {},
      "id": "58b26df3-00e6-48c6-bd1a-209dd6c63ec3",
      "name": "Simple Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        848,
        1472
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "endpointUrl": "http://192.168.1.69:8123/mcp_server/sse",
        "authentication": "bearerAuth",
        "include": "selected",
        "includeTools": [
          "GetLiveContext",
          "HassTurnOn",
          "HassTurnOff",
          "HassLightSet",
          "HassBroadcast"
        ],
        "options": {}
      },
      "id": "fa7b3918-2f19-4b32-896b-83fb8ea2b400",
      "name": "Home assistant Connector",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        2672,
        1264
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.inputText }}",
        "options": {}
      },
      "id": "b7a623d6-f689-4687-bc66-275b1f73a63a",
      "name": "Home Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2464,
        1024
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "60021ab2-33cb-46e1-87e0-3d7f9d1e56fe",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        2528,
        1264
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c51dc09b-ad53-4a1d-8b38-59a950d9d31c",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        2384,
        1264
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "public": true,
        "options": {
          "loadPreviousSession": "memory"
        }
      },
      "id": "8c61f905-4040-44ff-aed9-3b36ecbc6daf",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        848,
        1264
      ],
      "webhookId": "9521c056-a097-4f48-a0eb-7caccf132a4c",
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "## When chat message received:\n\nCaptures messages from n8n’s built-in chat and feeds into normalization pipeline.\n",
        "height": 224,
        "width": 256
      },
      "id": "4117eb44-33aa-4d3c-b032-4de7a50f5b15",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        1200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Telegram Trigger:\nListens for incoming Telegram messages (text or voice).\n"
      },
      "id": "d1904d79-7004-445e-bc8e-ef056163a464",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Bot Is typing:\nSends “typing…” action back to Telegram for better UX feedback."
      },
      "id": "fb31fb1c-c1ae-49fa-abb4-f239ed349706",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Voice or Text:\nChecks if the message is voice → routes to STT; otherwise uses text directly.\n## If Voice Node:\nBranch: if text missing, route through speech transcription.",
        "width": 400,
        "color": 4
      },
      "id": "90ddab99-91db-419f-8190-7d5bfd74fdb9",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        1072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Get Voice File:\nDownloads the voice message from Telegram for transcription.\n\n### Speech to Text:\nTranscribes voice input into text using OpenAI Whisper.\n\n### Transcription to ChatInput:\nMaps transcribed text into unified chatInput field.",
        "height": 240,
        "width": 448,
        "color": 4
      },
      "id": "b5f91665-8eac-4ded-80cc-3bad4444d972",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1584,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Process messages:\nNormalizes inputText, detects source (chat/telegram), and builds sessionId.",
        "color": 4
      },
      "id": "d93fb3d9-06d2-43eb-8c46-0c133ab636c3",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2128,
        832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Telegram Message Beautifier:\nFormats output: bold, bullets, inline code, links – splits into chunks."
      },
      "id": "d326f85d-61a1-4f29-8f52-207313b79a3a",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3200,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Home Agent:\nCore AI agent that orchestrates LLM and Home Assistant actions."
      },
      "id": "dfb1166c-9e3f-4b58-8cbf-021ab731c0c0",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2448,
        832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Home Assistant Connector:\n\nExecutes smart home actions: turn lights on/off, set brightness, broadcast messages via MCP.\n",
        "height": 192,
        "width": 208
      },
      "id": "c9f34a9e-b13b-43da-a45d-472b4ffb8a7a",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2624,
        1408
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Reply Router:\nRoutes response back to Telegram or n8n chat UI depending on origin.\n"
      },
      "id": "6f6e3028-9886-40dd-a17a-e82aa94f9747",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2848,
        832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Telegram Send:\nSends formatted reply back to Telegram in HTML parse mode.\n\n### Respond to Webhook:\nStreams responses back to the n8n chat frontend webhook.",
        "height": 240,
        "width": 272
      },
      "id": "8e5c9b6c-8ad1-494e-a754-115f830d27bd",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3472,
        1152
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Workflow Name:** Home Assistant Whisper\n\n**What it does:**\nThis workflow bridges natural conversation (via Telegram or n8n Chat) with Home Assistant. Users send commands—text or voice—and the system:\n* Transcribes voice using Whisper\n* Normalizes input, maintains session context\n* Uses Google Gemini + an AI agent to understand intent\n* Triggers smart home actions via MCP (turn lights on/off, adjust brightness, broadcast)\n* Formats and routes responses back to the correct channel—Telegram or n8n Chat—with polished markdown/HTML formatting.\n\n**Key highlights:**\n- Multi-channel (chat + voice)\n- Short-term memory for context\n- AI-powered intent understanding\n- Smart routing and beautified responses\n- Modular design—easy to extend or tweak",
        "height": 448,
        "width": 592,
        "color": 3
      },
      "id": "5f8b5ae2-d736-40c0-9db6-daef3256f894",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Home Agent": {
      "main": [
        [
          {
            "node": "Reply Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply Router": {
      "main": [
        [
          {
            "node": "Telegram Message Beautifier",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Home Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Voice or Text": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Speech to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "When chat message received",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Speech to Text": {
      "main": [
        [
          {
            "node": "Transcription to ChatInput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process messages": {
      "main": [
        [
          {
            "node": "Home Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Voice or Text",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bot Is typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Home Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Home assistant Connector": {
      "ai_tool": [
        [
          {
            "node": "Home Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Transcription to ChatInput": {
      "main": [
        [
          {
            "node": "Process messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Process messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Message Beautifier": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "5315a2d5-8dd5-4ec1-8429-e57b2b883342",
  "meta": {
    "templateId": "8411",
    "instanceId": "391ccf06240767a70e415db25ca1487c5b245e4a473dd0cfcdd50bf42284853d"
  },
  "id": "Q87lHgdhyNlEfHg6",
  "tags": []
}